<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <style>
      .solargrafrendererobject{
        width: 100vw;
        height: 100vh;
        background-color: #f0f0f0;
        display:flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div
      class="solargrafrendererobject"
      onPanelsChanged="console.log('panels changed: ', $event)"
    ></div>
    <!-- <div class="initialdatasolargraf">
      {"test":"Just a simple test"}
    </div> -->
    <script type="module" src="/src/main.tsx"></script>
    <script>

     
     
    </script>
  </body>
</html>
