.custom-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 50px;
  height: 26px;
  background-color: #ced4da;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.toggle-button {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #023b95;
}

.toggle-input:checked + .toggle-label .toggle-button {
  transform: translateX(24px);
}

.toggle-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #404040;
}
